@import "../../styles/partials/mixins";
@import "../../styles/partials/fonts";

.inventory {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;

  &__header-container {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__header {
    font-family: "Avenir-Bold";
    font-size: 35px;
  }

  &__search {
    height: 40px;
    border: 1px solid $mercury;
    border-radius: 5px;
    padding: 5px 8px 5px 35px;
    width: 250px;
    background: $alabaster url(../../assets/Icons/SVG/Icon-search.svg) no-repeat
      scroll 10px 10px;
  }
  @include tablet {
    margin: 20px 24px;
  }
}
