@import '../../styles/partials/mixins';

.header {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;

    &-container {
        background-color: $black;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 1rem;
    }

    &-logo {
        background-size: cover;
        background-color: $black;
    }
}

.btn {
    display: flex;
    // justify-content: space-around;
    // padding-left: 1rem;
    // padding-right: 1rem;

    &-inventory {
        width: 50%;
        margin: 0;
        background-color: $black;
        text-align: center;
        color: $white;
        border: none;
        outline: none;
        padding-bottom: 1rem;
        text-decoration: none; 

        &:hover {
            border: none;
            border-bottom: 0.25rem solid $white;
            
        }

        &:focus {
            border: none;
            border-bottom: 0.25rem solid $white;
            
        }

        &:active{
            border: none;
            border-bottom: 0.25rem solid $white;
            
        }
    }

    &-locations {
        margin: 0;
        width: 50%;
        background-color: $black;
        text-align: center;
        color: $white;
        border: none;
        outline: none;
        padding-bottom: 1rem;
        text-decoration: none; 

        &:hover {
            border: none;
            border-bottom: 0.25rem solid $white;
            
        }

        &:focus {
            border: none;
            border-bottom: 0.25rem solid $white;
            
        }

        &:active{
            border: none;
            border-bottom: 0.25rem solid $white;
            
        }
    }

    &-active{
        color: $white;
        padding-bottom: 0.6rem;    
        width: 50%;            
        border-bottom: 4px solid $white;
    }
}

